Skyscraper/obj/
Skyscraper/bin/
Skyscraper.sln.ide/edb.chk
Skyscraper.sln.ide/edbres00001.jrs
Skyscraper.sln.ide/edbres00002.jrs
Skyscraper.sln.ide/storage.ide
src/Skyscraper/Properties/debugSettings.json
artifacts/
.vs/
Skyscraper.sln.DotSettings.user
src/Skyscraper/wwwroot/bin/
src/Skyscraper/bin/
src/Skyscraper/wwwroot/bower_components/
src/Skyscraper/node_modules/
src/Skyscraper/wwwroot/config.js
src/Skyscraper/Properties/PublishProfiles/matchup.pubxml
src/Skyscraper/wwwroot/.tmp/,src/Skyscraper/wwwroot/dist/
src/Skyscraper/wwwroot/dist/
src/Skyscraper/wwwroot/.tmp/
src/Skyscraper/.tmp/
src/Skyscraper/client/dist/bower_components/bootstrap/less/mixins/table-row.less
src/Skyscraper/client/bower_components/
src/Skyscraper/wwwroot/css/
src/Skyscraper/wwwroot/js/
src/Skyscraper/wwwroot/index.html
