Skyscraper/obj/
Skyscraper/bin/
Skyscraper.sln.ide/edb.chk
Skyscraper.sln.ide/edbres00001.jrs
Skyscraper.sln.ide/edbres00002.jrs
Skyscraper.sln.ide/storage.ide
src/Skyscraper/Properties/debugSettings.json
